.App {
  text-align: center;
  color:whitesmoke;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

nav{
  text-align:center;
	background-color: #fd4447;
	background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
	width: 100%;
	height: auto;
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}
.navbar{
  width: 100%;
}
.container-fluid{
  width: 100%;
}

.btn1 {
		background: #ffaf00;
		padding: 0px 10px;
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		border-radius: 11px;
		-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
		-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
		box-shadow: rgba(0,0,0,1) 0 1px 0;
		text-shadow: rgba(0,0,0,.4) 0 1px 0;
		color: white;
		font-size: 14px;
		text-decoration: none;
		vertical-align: middle;
		margin: 0 1em;
		float: right;
	
	
	/* .button:hover {
		border-top-color: #28597a;
		background: #28597a;
		color: #ccc;
		}
	.button:active {
		border-top-color: #1b435e;
		background: #1b435e;
		}
	* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
	 */
}

.click{
	float: none;
	font-family: 'Baloo', cursive;
	font-size: 20px;
	height: 40px;
	width: 120px;
	background: #ffaf00;
		padding: 0px 10px;
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		border-radius: 11px;
		color: whitesmoke;
		text-shadow: 1px 1px 2px black;
}

a{
	color: white;
	font-size: 20px;
}




@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Baloo);
html { 
	width: 100%;
	height:100%; 
	}

body {
	background: linear-gradient(132deg, #01395e, #0091cf);
	background-size: 400% 400%;
	animation: BackgroundGradient 20s ease infinite;
}

@keyframes BackgroundGradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { color: #fff; 
	text-shadow: 0 0 10px rgba(0,0,0,0.3); 
	letter-spacing:1px; 
	text-align:center; 
}

input { 
	width: 80%; 
  margin-bottom: 10px; 
  margin-left: 10px;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
}

/* signin form */
input{
	width: 100%;
}
label{
	margin:10px;
	font-size: 24px;
}
form{
	width: 500px;
	margin: auto;

}
/* .LoginForm{
border: blue solid 10px;
} */

/* home page */

.welcome{
	height: auto;
	width: 500px;
	margin: auto;
	color: #FD4447;
	margin-top: 50px;
	border: solid 5px #FD4447;
	background-image: url(components/box.png);
	padding: 10px;
	border-radius: 10px;
}
.welcome h1 {
	font-size: 100px;
}

.btn1{
	font-size: 10px;
	width: 100px;
	padding: 1px;
	text-align: center;
}
.nav-item:last-child{
	text-align:center;
	padding-right: 5px;
	width: 115px;
   }


* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #05182d;
}

@-webkit-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-moz-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-o-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

#back {
  background: url(http://www.tranexnet.com/img/back.png) repeat 20% 20%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 500s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 500s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 500s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#front {
  background: url(http://www.tranexnet.com/img/front.png) repeat 35% 35%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 300s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 300s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 300s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* questions */
button{
	background: #FD4447;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Baloo', cursive;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 25px;
	text-decoration: none;
	vertical-align: middle;
	margin: .5em;
	width: 300px;
}

button:hover {
	background: #ffaf00;
		}
.question{
  font-size: 30px;
  margin: 10px;
}

#timercontainer{
	margin:50px;
}

#gametimer{
	font-size:50px;
	color:gray;
}

#gametimer {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #19bee1;
}
#gametimer:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.correct{
	font-size:40pt;
	color:lime;
}

.incorrect{
	font-size:40pt;
	color:red;
}
/* home page */
.chooseGame{
margin: 5px;
list-style-type: none;
}
.flex{
	display: flex;
	align-items: center;
	justify-content: center;
}

.chat{
	width: 1000%;
}
#input{
	width: 50%;
	float: left;
}
.send{
	float: right;
	width: 100px;
}

@media (max-width: 460px){
	.welcome{
		width: auto;
		padding: 0;
		margin: 10px;
		margin-top: 75px;
	}
	.welcome h1 {
		font-size: 75px;
	}

	input{
		width: 100%;
	}
	label{
		margin:10px;
		font-size: 24px;
	}
	form{
		width: 300px;
		margin: auto;
	
	}
	.correct{
		font-size:25pt;
		color:lime;
	}
	
	.incorrect{
		font-size:25pt;
		color:red;
	}
}



.chatapp{
		background-color: #ffaf00;
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
    justify-content: center;
    margin-right: -10px;
}

.chatroom {
  width: auto;
  height: 100px;
  /* background-color: rgba(0,0,0, .7); */
  border-radius: 5px;
 
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
  padding-bottom: 50px;
}

.chatroom h3 {
  background-color:#ffaf00;
  margin: 0;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatroom .chats {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0 0;
  height: 100px;
  overflow-y: scroll;
}

.chatroom .chats .chat {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 5px 13px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  max-width: 200px;
  color: slategray;
}

.chatroom .chats .chat img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 0px;
}

.chatroom .chats .chat.right {
  float: right;
  clear: both;
}

.chatroom .chats .chat a {
  text-decoration: none;
  color:#3498DB;
}

.chatroom .input {
  height: 40px;
  width: 100%;
  background:#ffaf00;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatroom .input input[type="text"] {
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
  border: 2px solid #ffaf00;
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 10px;
  height: 30px;
  width: 270px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Baloo', cursive;
  padding: .5em;
  vertical-align: middle;
	margin: .5em;
 
}

.chatroom .input input[type="submit"] {
  background: transparent;
  border: 1px solid ;
  height: 30px;
  width: 70px;
  font-size: 14px;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Baloo', cursive;
  padding: .5em;
  vertical-align: middle;
	margin: .5em;
}

.chatroom .input input[type="submit"]:hover {
  background: #ffaf00;
  color: #FFF;
  font-family: 'Baloo', cursive
}

#root{
  width: 100%
}