.App {
  text-align: center;
	color:whitesmoke;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

nav{
	/* opacity: .5; */
  text-align:center;
	/* display:inline-block; */ 
	/* background: #FD4447 url(components/box.png); */
	background-color: #fd4447;
	background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
	width: 100%;
	height: auto;
}

.btn1 {
		background: #ffaf00;
		padding: 0px 10px;
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		border-radius: 11px;
		-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
		-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
		box-shadow: rgba(0,0,0,1) 0 1px 0;
		text-shadow: rgba(0,0,0,.4) 0 1px 0;
		color: white;
		font-size: 14px;
		text-decoration: none;
		vertical-align: middle;
		margin: 0 1em;
		float: right;
	
	
	/* .button:hover {
		border-top-color: #28597a;
		background: #28597a;
		color: #ccc;
		}
	.button:active {
		border-top-color: #1b435e;
		background: #1b435e;
		}
	* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
	 */
}

.click{
	float: none;
	font-family: 'Baloo', cursive;
	font-size: 20px;
	height: 40px;
	width: 120px;
	background: #ffaf00;
		padding: 0px 10px;
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		border-radius: 11px;
		color: whitesmoke;
		text-shadow: 1px 1px 2px black;
}

a{
	color: white;
	font-size: 20px;
}




@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Baloo);
html { 
	width: 100%;
	height:100%; 
	}

body {
	background: linear-gradient(132deg, #01395e, #0091cf);
	background-size: 400% 400%;
	animation: BackgroundGradient 20s ease infinite;
}

@keyframes BackgroundGradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { color: #fff; 
	text-shadow: 0 0 10px rgba(0,0,0,0.3); 
	letter-spacing:1px; 
	text-align:center; 
}

input { 
	width: 80%; 
  margin-bottom: 10px; 
  margin-left: 10px;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
}

/* signin form */
input{
	width: 100%;
}
label{
	margin:10px;
	font-size: 24px;
}
form{
	width: 500px;
	margin: auto;

}
/* .LoginForm{
border: blue solid 10px;
} */

/* home page */

.welcome{
	height: auto;
	width: 500px;
	margin: auto;
	color: #FD4447;
	margin-top: 50px;
	border: solid 5px #FD4447;
	background-image: url(components/box.png);
	padding: 10px;
	border-radius: 10px;
}
.welcome h1 {
	font-size: 100px;
}

@media (max-width: 460px){
	.welcome{
		width: auto;
		padding: 0;
		margin: 10px;
		margin-top: 75px;
	}
	.welcome h1 {
		font-size: 75px;
	}

	input{
		width: 100%;
	}
	label{
		margin:10px;
		font-size: 24px;
	}
	form{
		width: 300px;
		margin: auto;
	
	}
.btn1{
	font-size: 10px;
	width: 100px;
	padding: 1px;
	text-align: center;
}
.nav-item:last-child{
	text-align:center;
	padding-right: 5px;
	width: 115px;
   }


* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #05182d;
}

@-webkit-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-moz-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-o-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

#back {
  background: url(http://www.tranexnet.com/img/back.png) repeat 20% 20%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 500s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 500s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 500s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#front {
  background: url(http://www.tranexnet.com/img/front.png) repeat 35% 35%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 300s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 300s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 300s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}